# 14 - PACOTE DATETIME

- Esse móduto permite a manipulação de datas em Python.

In [2]:
import datetime

In [3]:
agora = datetime.datetime.now()

In [4]:
agora

datetime.datetime(2022, 6, 16, 11, 57, 11, 214700)

In [5]:
t = datetime.time(7, 43, 28)

In [6]:
print(t)

07:43:28

In [7]:
print('Hora: ', t.hour)
print('Minutos: ', t.minute)
print('Segundos: ', t.second)
print('Microssegundos: ', t.microsecond)

Hora:  7
Minutos:  43
Segundos:  28
Microssegundos:  0

In [8]:
print(datetime.time.min)

00:00:00

In [9]:
hoje = datetime.date.today()

In [10]:
print(hoje)

2022-06-16

In [11]:
print(hoje)
print('ctime: ', hoje.ctime())
print('Ano: ', hoje.year)
print('Mês: ', hoje.month)
print('Dia: ', hoje.day)

2022-06-16
ctime:  Thu Jun 16 00:00:00 2022
Ano:  2022
Mês:  6
Dia:  16

In [12]:
d1 = datetime.date(2015, 4, 28)
print('d1: ', d1)

d1:  2015-04-28

In [13]:
d2 = d1.replace(year = 2016)
print('d2: ', d2)

d2:  2016-04-28

In [14]:
# Diferença em dias entre duas datas
d2 - d1

datetime.timedelta(days=366)

### FIM