# 15 - PROGRAMAÇÃO FUNCIONAL

- Python fornece várias funções que permitem uma abordagem funcional à programação, oferecendo mais facilidade na criação do seu código.


- Podemos dizer que a programação funcional é uma programação orientada à expressão.


- Funções orientadas à expressão em Python:
  - map (função, sequência)
  - reduce (função, sequência)
  - filter (função, sequência)
  - lambda
  - list comprehension

## 15.1. Função Map

- Map é uma função que recebe 2 argumentos:
  - Uma função
  - Uma sequência
    
    
- Ex.: map(função, sequência)
    
    
- O primeiro argumento é o nome de uma função e o segundo o nome de uma sequência (por exemplo, uma lista).


- map() aplica a função a todos os elementos da sequência.


- Uma lista com os elementos alterados pela função é retornado.

In [2]:
# Criando duas funções

# Função 1 - Recebe uma temperatura como parâmetro e retorna a temperatura em Fahrenheit
def fahrenheit(T):
    return ((float(9)/5) * T + 32)

# Função 2 - Recebe uma temperatura como parâmetro e retorna a temperatura em Celsius
def celsius(T):
    return (float(5)/9) * (T-32)

In [3]:
# Criando uma lista
temperaturas = [0, 22.5, 40, 100]

In [4]:
# Aplicando a função a cada elemento da lista de temperaturas. 
# Em Python 3, a funçãp map() retornar um iterator
map(fahrenheit, temperaturas)

In [5]:
# Função map() reotrnando a lista de temperaturas convertidas em Fahrenheit
list(map(fahrenheit, temperaturas))

[32.0, 72.5, 104.0, 212.0]

In [6]:
# Usando um loop for para imprimir o resultado da função map()
for temp in map(fahrenheit, temperaturas):
    print(temp)

32.0
72.5
104.0
212.0

In [7]:
# Convertendo para Celsius
map(celsius, temperaturas)

In [8]:
list(map(celsius, temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [9]:
# Usando lambda
map(lambda x: (5.0/9)*(x - 32), temperaturas)

In [10]:
list(map(lambda x: (5.0/9)*(x - 32), temperaturas))

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [11]:
# Somando os elementos de 2 listas
a = [1,2,3,4]
b = [5,6,7,8]

In [12]:
list(map(lambda x,y:x+y, a, b))

[6, 8, 10, 12]

In [13]:
# Somando os elementos de 3 listas
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

In [14]:
list(map(lambda x,y,z:x+y+z, a, b, c))

[15, 18, 21, 24]

## 15.2. Função Reduce

- Reduce é uma função que recebe 2 argumentos (assim como a função map):
  - Uma função.
  - Uma sequência.
 
 
- Ex.: reduce(função, sequência)


- O primeiro argumento é o nome de uma função e o segundo de uma sequência (por exemplo, uma lista).


- Ao contrário da função map, que aplica a função a cada elemento da sequência e retorna uma ou outra sequência de elementos, a função reduce aplica a função passada como parâmetro aos elementos da sequência, até que reste apenas um elemento.

In [15]:
# Importando a função reduce do módulo functools
from functools import reduce

In [16]:
# Criando uma lista
lista = [47,11,42,13]

In [17]:
lista

[47, 11, 42, 13]

In [18]:
# Função 
def soma(a,b):
    x = a + b
    return x

In [19]:
# Usando reduce com uma função e uma lista. A função vai retornar o valor máximo
reduce(soma, lista)

113

In [20]:
# Criando uma lista
lst = [47, 11, 42, 13]

In [21]:
# Usando a função reduce() com lambda
reduce(lambda x,y: x+y, lst)

113

In [22]:
# Podemos atribuir a expressão lambda a uma variável
max_find2 = lambda a,b: a if (a > b) else b

In [23]:
type (max_find2)

function

In [24]:
# Reduzindo a lista até o valor máximo, através da função criada com a expressão lambda
reduce(max_find2, lst)

47

## 15.3. Função Filter

- A exemplo das funções built in , map() e reduce(), a função filter() também recebe dois argumentos, uma função e uma sequência.


- Ex.: filter(função, sequência)


- A função filter() oferece uma maneira conveniente para filtrar todos os elementos de uma sequência, para os quais a função retorne True.


- A função passada como parâmetro para filter(), deve retornar um valor booleano, True ou False.


- A função será aplicada a todos os valores de uma sequência e os valores serão retornados, apenas se retornarem True para a função.

In [25]:
# Criando uma função
def verificaPar(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [26]:
# Chamando a função e passando um número como parâmetro. Retornará 
# Falso de for ímpar e True se for par.
verificaPar(35)

False

In [27]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [28]:
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [29]:
filter(verificaPar, lista)

In [30]:
list(filter(verificaPar, lista))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [31]:
list(filter(lambda x: x%2==0, lista))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
list(filter(lambda num: num > 8, lista))

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

## 15.4. List Comprehension

- A função List Comprehension aplica uma expressão arbitrária (ao invés de aplicar apenas uma função)a uma sequência de elementos.


- A função List Comprehension permite desenvolver listas usando uma notação diferente. seria essencialmente uma linha de loop for, construída dentro de [].


- Por exemplo: lst = [x for x in "sequência"]


- Nós normalmente usamos loop for quando trabalhamos com funções map() e usamos list comprehension quando esta for mais fácil de ser aplicada.


- No entando, há uma vantagem  substancial de desempenho ao utilizar o list comprehension.

In [33]:
# Retornar cada caracter em uma sequência de caracteres
lst = [x for x in 'python']

In [34]:
# Check
lst

['p', 'y', 't', 'h', 'o', 'n']

In [35]:
type(lst)

list

In [36]:
# Variável x elevada ao quadrado para um range de números e retornar uma lista
lst = [x**2 for x in range(0, 11)]

In [37]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [38]:
# Verificar os números pares em um range de números
lst = [x for x in range(11) if x % 2 == 0]

In [39]:
lst

[0, 2, 4, 6, 8, 10]

In [40]:
# Converter Celsius para Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9) / 5) * temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [41]:
# Operações aninhadas
lst = [ x**2 for x in [x**2 for x in range(11)]]

In [42]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

## 15.5. Função Zip

- A função zip() agrega os valores de duas sequências e retorna uma tupla.


- Ex.: zip(sequência, sequência)


- zip() pode ser usado quando o número de elementos for diferente em cada sequência. Mas o objeto resultante terá o mesmo número de elementos da sequência maior.

In [43]:
# Criando duas listas
x = [1,2,3]
y = [4,5,6]

In [45]:
# Unindo as listas. Em Python3 retorna um iterator
zip(x, y)

In [46]:
# Perceba que zip retorna tuplas. Neste caso, uma lista de tuplas
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [47]:
# Atenção quando as sequências tiverem número diferente de elementos
list(zip('ABCD', 'xy'))

[('A', 'x'), ('B', 'y')]

In [48]:
# Criando duas listas
a = [1,2,3]
b = [4,5,6,7,8]

In [49]:
list(zip(a,b))

[(1, 4), (2, 5), (3, 6)]

In [50]:
# Criando 2 dicionários
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

In [51]:
# Zip vai unir as chaves
list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

In [52]:
# Zip pode unir os valores (itens)
list(zip(d1, d2.values()))

[('a', 4), ('b', 5)]

In [53]:
# Criando uma função para trocar valores entre 2 dicionários
def trocaValores(d1, d2):
    dicTemp = {}
    
    for d1key, d2val in zip(d1,d2.values()):
        dicTemp[d1key] = d2val
    
    return dicTemp

In [54]:
trocaValores(d1, d2)

{'a': 4, 'b': 5}

## 15.6. Função Enumarate

- A função enumarate() permite retornar o índice de cada valor em cada sequência, à medida que você percorre toda a sequência.


- Enumarate retorna uma tupla no formato tupla(índice, valor).


- Ex.: enumarate(sequência)

In [55]:
# Criando uma lista
seq = ['a','b','c']

In [56]:
enumerate(seq)

In [57]:
list(enumerate(seq))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [58]:
# Imprimindo os valores de uma lista com a função enumerate() e seus respectivos índices
for indice, valor in enumerate(seq):
    print (indice, valor)

0 a
1 b
2 c

In [59]:
for indice, valor in enumerate(seq):
    if indice >= 2:
        break
    else:
        print (valor)

a
b

In [60]:
lista = ['Marketing', 'Tecnologia', 'Business']

In [61]:
for i, item in enumerate(lista):
    print(i, item)

0 Marketing
1 Tecnologia
2 Business

In [62]:
for i, item in enumerate('Isso é uma string'):
    print(i, item)

0 I
1 s
2 s
3 o
4
5 é
6
7 u
8 m
9 a
10
11 s
12 t
13 r
14 i
15 n
16 g

In [63]:
for i, item in enumerate(range(10)):
    print(i, item)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

### FIM